.datepicker-block {
}

.datepicker-label {
  display: block;
  width: 100%;
  font-size: 20rem;
  padding-bottom: 10rem;
  cursor: pointer;
}

.datepicker-field {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1rem solid rgba(255, 255, 255, 0.12);
  outline: none;
  display: block;
  width: 100%;
  padding: 20rem 14rem;
  color: #fff;
  font-size: 18rem;
  font-family: inherit;
  border-radius: 10rem;
}

.datepicker-block.invalid .datepicker-field {
  border: 1rem solid rgb(202, 9, 9);
}

.error-message-input-list {
  padding-top: 8rem;
}

.error-message-input-item {
  color: rgb(202, 9, 9);
  font-size: 16rem;
  font-weight: normal;
}
