.loader-inline {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 16rem 0 #fff, -16rem 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 16rem 0 #fff2, -16rem 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 16rem 0 #fff2, -16rem 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 16rem 0 #fff, -16rem 0 #fff2;
  }
}
