.todo-comments-list {
  padding-top: 30rem;
}

.todo-comments-list-item {
  border: 1rem solid rgba(61, 71, 81, 0.3);
  padding: 24rem;
  border-radius: 10rem;
  background-color: rgba(35, 40, 46, 0.3);
  font-size: 18rem;
  line-height: 150%;
}

.todo-comments-list-item.process {
  opacity: 0.5;
}

.todo-comments-list-item:not(:first-child) {
  margin-top: 10rem;
}

.todo-comments-content {
}

.todo-comments-date {
  opacity: 0.5;
}

.todo-comments-list-empty {
  padding-top: 24rem;
  opacity: 0.5;
  font-size: 18rem;
  line-height: 150%;
}

.todo-comments-toolbar {
  padding-top: 10rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

.todo-comments-delete-btn {
  background-color: transparent;
  font-family: inherit;
  border: none;
  outline: none;
  color: rgb(202, 9, 9);
  cursor: pointer;
}

@media (max-width: 640px) {
  .todo-comments-list {
    padding-top: 20rem;
  }

  .todo-comments-list-item {
    padding: 12rem;
    border-radius: 8rem;
    font-size: 14rem;
  }

  .todo-comments-list-empty {
    padding-top: 20rem;
    font-size: 14rem;
  }

  .todo-comments-date {
    font-size: 12rem;
  }
}
