.form-tags {
  display: flex;
  align-items: flex-start;
  gap: 10rem;
}

.form-tags > .input-block {
  flex: 0 1 80%;
}

.form-tags > .btn {
  flex: 0 1 20%;
}

@media (max-width: 640px) {
  .form-tags {
    gap: 5rem;
  }
}
