.tags-item {
  padding: 24rem;
}

.tags-item.proccess {
  opacity: 0.5;
}

.tags-item:not(:last-child) {
  border-bottom: 1rem solid rgba(61, 71, 81, 0.3);
}

.tags-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.tags-title {
  flex: 0 0 70%;
  font-size: 16rem;
  line-height: 125%;
}

.tags-btns {
  display: flex;
  gap: 10rem;
}

@media (max-width: 640px) {
  .tags-item {
    padding: 12rem;
  }

  .tags-title {
    font-size: 14rem;
  }

  .tags-wrapper {
    gap: 10rem;
  }

  .tags-btns {
    gap: 6rem;
  }
}
