.tags-item {
  padding: 24rem;
}

.tags-item:not(:last-child) {
  border-bottom: 1rem solid rgba(61, 71, 81, 0.3);
}

.tags-wrapper {
  display: flex;
  justify-content: space-between;
}

.tags-title {
  flex: 0 1 100%;
}
