.btn-edit {
  flex: 0 0 50rem;
  width: 50rem;
  height: 50rem;
  border-radius: 6rem;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(51, 153, 255);
  background-image: url("../../assets/icons/edit.svg");
  background-size: 40%;
}
