.multiselect-label {
  display: block;
  width: 100%;
  font-size: 20rem;
  padding-bottom: 10rem;
  cursor: pointer;
}

.select__control {
  background-color: rgba(255, 255, 255, 0.12) !important;
  border-color: rgba(255, 255, 255, 0.12) !important;
  border: 1rem solid rgba(255, 255, 255, 0.12) !important;
  border-radius: 10rem !important;
  border-width: 1rem !important;
  min-height: 64rem !important;
  font-size: 18rem !important;
  font-family: inherit !important;
  color: #fff !important;
  box-shadow: none !important;
}

.select__control:hover {
  border-color: transparent !important;
}

.select__value-container {
  padding: 0 14rem !important;
}
.select__placeholder {
  margin: 0 !important;
  font-size: 18rem !important;
  font-family: inherit !important;
  color: #fff !important;
}

.select__input-container {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.select__indicator-separator {
  width: 1rem !important;
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.select__indicator {
  padding: 8rem !important;
}

.select__indicator > svg {
  width: 20rem !important;
  height: 20rem !important;
}

.select__multi-value {
  border-radius: 4rem !important;
  margin: 2rem !important;
  background-color: rgb(15, 18, 20) !important;
}

.select__multi-value__label {
  border-radius: 2rem !important;
  padding: 3rem !important;
  color: #fff !important;
}

.select__menu {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
  border-radius: 10rem !important;
  background-color: #2c2f31 !important;
}

.select__menu-list {
  max-height: 300rem !important;
  padding-bottom: 8rem !important;
  padding-top: 8rem !important;
}

.select__option {
  padding: 8rem 12rem !important;
}

.select__option.select__option--is-focused {
  color: #2c2f31 !important;
}

.select__multi-value__remove {
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 2rem;
}

.multiselect-block.invalid .select__control {
  border-color: rgb(202, 9, 9) !important;
  border: 1rem solid rgb(202, 9, 9) !important;
}

.error-message-input-list {
  padding-top: 8rem;
}

.error-message-input-item {
  color: rgb(202, 9, 9);
  font-size: 16rem;
  font-weight: normal;
}

@media (max-width: 640px) {
  .multiselect-label {
    font-size: 14rem;
    padding-bottom: 8rem;
  }

  .error-message-input-item {
    font-size: 12rem;
  }
}
