.checkbox-block {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-label {
  display: block;
  font-size: 20rem;
  cursor: pointer;
}

.checkbox-field {
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}

@media (max-width: 640px) {
  .checkbox-block {
    gap: 6rem;
  }

  .checkbox-label {
    font-size: 14rem;
  }

  .checkbox-field {
    width: 14rem;
    height: 14rem;
  }
}
