.todo-comments-container {
  margin-top: 20rem;
  border: 1rem solid rgba(61, 71, 81, 0.3);
  padding: 24rem;
  border-radius: 10rem;
  background-color: rgba(35, 40, 46, 0.3);
}

.todo-comments-title {
  font-size: 30rem;
  line-height: 140%;
}
